.titulo__descripcionSeccionBarraPorcentaje{
    font-size: 25px;
    /* color: white; */
    font-weight: 500;
    font-family: "Mukta Mahee", Sans-serif;

}
.contenido__descripcionSeccionBarraPorcentaje{
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
}
.subtitulo__descripcionSeccionBarraPorcentaje{
    padding-top: 10px;
    font-size: 18px;
    color:  #fff; 
    font-weight: 700;
}